<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.learning.mapper.CourseMapper">


    <select id="getCoursePublishById" resultType="com.lc.learning.entity.vo.CoursePublishVo">
        select
            c.cover,
            c.title,
            c.lesson_num as lessonNumber,
            c.description,
            t.`username` as teacherName
        from course c
                 LEFT JOIN user t on c.teacher_id = t.id
        where c.id = #{id}
    </select>

    <select id="getCourseInfoFrontById" resultType="com.lc.learning.entity.vo.front.CourseInfoFrontVo">
        SELECT
            c.cover,
            c.title,
            c.lesson_num as lessonNum,
            c.view_count as viewCount,
            c.learning_num as learningNum,
            c.description,
            t.id as teacherId,
            t.`username` as teacherName,
            t.introduce,
            t.avatar
        FROM course c
                 LEFT JOIN user t on c.teacher_id = t.id
        where c.id = #{id}
    </select>

    <select id="getHotCourse" resultType="com.lc.learning.entity.Course">
        SELECT * FROM course c ORDER BY  c.learning_num DESC, c.view_count DESC LIMIT 4
    </select>
</mapper>
