<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.learning.mapper.UserVideoMapper">

    <select id="getLearning" resultType="integer">
        SELECT
            SUM(sv.learning_time) AS learningTime
        FROM user_video sv
        WHERE sv.user_id = #{userId} AND sv.del_flag = 0
    </select>
</mapper>
